NetTranslator/Client/Service References/TranslatorServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TranslatorService" />
  <xs:element name="AddWord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TranslatorService" minOccurs="0" name="wrd" nillable="true" type="q1:Word" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddWordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TranslatorService" minOccurs="0" name="wrd" nillable="true" type="q2:Word" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateWordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveWord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TranslatorService" minOccurs="0" name="wrd" nillable="true" type="q3:Word" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveWordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveWordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTranslation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TranslatorService" minOccurs="0" name="wrd" nillable="true" type="q4:Word" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTranslationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TranslatorService" minOccurs="0" name="GetTranslationResult" nillable="true" type="q5:ArrayOfWord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WakeUp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WakeUpResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>