NetTranslator/Client/Service References/TranslatorServiceReference/TranslatorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TranslatorService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TranslatorService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Word">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Word" nillable="true" type="tns:Word" />
  <xs:complexType name="EnglishWord">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Word">
        <xs:sequence>
          <xs:element minOccurs="0" name="Translations" nillable="true" type="tns:ArrayOfRussianWord" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EnglishWord" nillable="true" type="tns:EnglishWord" />
  <xs:complexType name="ArrayOfRussianWord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RussianWord" nillable="true" type="tns:RussianWord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRussianWord" nillable="true" type="tns:ArrayOfRussianWord" />
  <xs:complexType name="RussianWord">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Word">
        <xs:sequence>
          <xs:element minOccurs="0" name="Translations" nillable="true" type="tns:ArrayOfEnglishWord" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RussianWord" nillable="true" type="tns:RussianWord" />
  <xs:complexType name="ArrayOfEnglishWord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EnglishWord" nillable="true" type="tns:EnglishWord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEnglishWord" nillable="true" type="tns:ArrayOfEnglishWord" />
  <xs:complexType name="ArrayOfWord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Word" nillable="true" type="tns:Word" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWord" nillable="true" type="tns:ArrayOfWord" />
</xs:schema>